@import "styles/index";

.root {
  padding: 0 32px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 0;
  gap: 8px;

  &.disabled {
    background-color: transparent;
    color: $green;
  }

  &.fluid {
    width: 100%;
  }
}

.noBorder {
  border: 0;
}

//style type

.small {
  height: 34px;
}

.large {
  height: 46px;

  @include mq($PhoneWidth, max) {
    height: 40px;
  }

  @include btnText;
}

.medium {
  height: 44px;
}

//font
.normal15 {
  font-size: 15px;
  font-weight: 500;
}

.normal16 {
  font-size: 16px;
}

//color

.green {
  background: $green;
  color: $white;

  &:hover {
    background-color: $green-hover;
  }

  &:active {
    background-color: $green-active;
  }
}

.white {
  background: transparent;
  color: $green;
  border: 1px solid $green;

  &:hover {
    border: 1px solid $green-hover;
    color: $green-hover;
  }

  &:active {
    border: 1px solid $green-active;
    color: $green-active;
  }
}

.transparent {
  background: transparent;
  border-radius: 4px;
  border: 1px solid $text-secondary;
  color: $text-secondary;
}

.spinner {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerVisible {
  visibility: visible;
}

.withIcon {

  .text {
    display: flex;
    align-items: center;
    grid-gap: 8px;
  }
}

.text {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.textHidden {
  visibility: hidden;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.circle {
  border-radius: 100%;
}