@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    @include mq($TabletWidth, max) {
      padding-inline: 16px;
      padding-bottom: 16px;
    }
}
.wrapper{
  display: flex;
  flex-direction: column;
  @include list(24px, false);
}

.top {
  display: flex;
  align-items: center;
  @include list(16px, true);
}
.description{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.deleteButton{
margin-top: 24px;
}

.dropZone {
  flex-direction: row !important;
  justify-content: flex-start !important;
  column-gap: 24px;
}
