@import "styles/index";
.card{
  position: relative;
}
.root {
  display: flex;
  flex-direction: column;
  @include list(48px);
}
.section{
  display: flex;
  flex-direction: column;
  @include list(24px);
}
.title{
  font-size: 24px;
  font-weight: 700;
  color: $text-primary;
}
.list{
  display: flex;
  flex-direction: column;
  @include list(24px);
}
