@import "../../../../styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
}
.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cancel{
    border: 0;
    background-color: transparent;

    &:hover{
        border: 0;
    }
}

.btnDownload{
  margin-left: auto;
}
