@import "styles/index";

.root {
  display: flex;
  min-height: 100%;
  position: relative;
  flex-direction: column;
}

.panel {}

.container {
  margin: 0 32px;
  margin-top: 32px;
  margin-bottom: 35px;
  height: 100%;
  flex: 1;
}