@import "styles/index";

.root {
  display: flex;
  height: 88px;
  align-items: center;
  justify-content: space-between;
  @include container;
  padding: 0;
  border-bottom: 1px solid #2D2F2C;

  @include mq(1320px, max) {
    max-width: 100%;
    padding: 0 60px;
  }

  @include mq($PhoneWidth, max) {
    padding: 0 24px;
    border: 0;
  }
}

.logo {
  @include logo;
  color: $white;
}

.right {
  display: flex;
  align-items: center;
  @include list(40px, true);

  @include mq($PhoneWidth, max) {
    flex-direction: column;
    align-items: flex-start;
    @include list(24px, false);
    margin-top: 24px;
  }
}

.links {
  display: flex;
  @include list(24px, true);

  @include mq($PhoneWidth, max) {
    flex-direction: column;
    align-items: flex-start;
    @include list(24px, false);
  }
}

.link {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  text-transform: uppercase;
  color: $white-90;
  font-family: 'Work Sans';
}

.btn {
  height: 40px;
  border-radius: 80px;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  color: $white;
  padding: 8px 8px 8px 16px;
  border: 1px solid $white-90;
  font-family: 'Work Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.dropdownMobile {
  background-color: #212121;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 72px;
  z-index: 4;
  padding: 0 23px;
  margin-top: 16px;
}