@import 'styles/index';

.root {
  // padding: 8px;
  // border-radius: 24px;
  // background-color: $white;
  width: calc(28% - 32px);
  // height: 230px;
  // padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  @include list(24px, false);
  // height: 306px;
  min-width: 264px;
  max-width: 300px;
  transition: .2s ease-in-out;
  border-radius: 24px;
  @include mq($PhoneWidth, max) {
    width: 100%;
    max-width: unset;
  }

  @media(hover: hover) {
    &:hover {
      box-shadow: 0px 0px 15px -5px $text-secondary;
    }
  }
}

.list {
  width: 100%;
  max-width: unset;
  @include mq($lg-medium) {
    max-width: calc(50% - 16px);
  }
}