@import 'styles/index';

.root {
  // padding: 8px;
  // border-radius: 24px;
  // background-color: $white;
  width: calc(28% - 32px);
  // height: 230px;
  // padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  @include list(24px, false);
  // height: 306px;
  min-width: 264px;
  max-width: 300px;
}

.list {
  width: 100%;
  max-width: unset;
  @include mq($lg-medium) {
    max-width: calc(50% - 16px);
  }
}