@import "styles/index";
.root {
  display: flex;
  flex-direction: column;
  @include list(32px, false);
  @include mq($SmDesktopWidth, max) {
    padding-inline: 16px;
    padding-bottom: 16px;
    row-gap: 16px;
  }
}
