@import "styles/index";

.root {
  align-self: flex-start;
  width: 325px;
  @include mq($TabletWidth, max) {
    width: 100%;
    margin-top: 16px;
    padding: 16px !important;
  }
}

.container {
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  @include list(24px, false);
}

.top {
  display: flex;
  @include list(16px, true);
  align-items: center;
  @include mq($TabletWidth, max) {
    margin-bottom: 8px;
  }
}

.calendar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
}


.date {
  font-size: clamp(16px, 4vw, 24px);
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: $text-primary;
  letter-spacing: -0.24px;
}

.separator {
  height: 2px;
  background-color: #ebebeb;
}
.events{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @include list(24px);
  @include mq($TabletWidth, max) {
    max-height: 0px;
    transition: .3s ease-in-out;
    overflow: auto;
    margin-top: unset;
  }


}

.watchAll {
  color: $green;
  font-weight: 600;
  margin-left: 64px;
}

.counter {
  margin-left: auto;
}

.open {
  max-height: 500px;
}
