@import "styles/index";

.root {}
.noEvaluation{
  flex: 1;
}
.avatar {
  position: relative !important;
  width: 120px !important;
  height: 120px !important;
}

.container {
  display: flex;
  @include list(24px, true);
}

.salary {
  display: flex;
  flex-wrap: wrap;
}

.positionAndSalary {
  display: flex;
  @include list(16px, true);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $text-primary;
  letter-spacing: -0.2px;
}

.position {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $text-secondary;
  letter-spacing: -0.16px;
}

.right {
  display: flex;
  flex-direction: column;
  @include list(16px, false);
  margin-top: 14px;
}

.notReady {
  color: #D68915 !important;
}

.ready {
  color: $green;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;
}

.location {
  display: flex;
  flex-direction: column;
  @include list(4px, false);
}

.country {
  display: flex;
  @include list(4px, true);
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: $text-secondary;
  letter-spacing: -0.16px;
}

.contacts {
  display: flex;
  flex-direction: column;
  @include list(12px, false);
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $text-primary;
  letter-spacing: -0.2px;
}

.email {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: $green;
  letter-spacing: -0.18px;
}

.emailItem {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
