@import "styles/index";

.root {
  padding: 8px;
  background-color: $white;
  border-radius: 24px;
  display: flex;
  height: 214px;
}

.wrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  @include list(16px, false);
}

.top {
  display: flex;
  @include list(16px, true);
  align-items: center;

  img {
    width: 38px !important;
    height: 38px !important;
    position: relative !important;
  }
}

.label {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.16px;
  color: $text-primary;
}

.desc {
  color: #8F9BB2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.14px;
}

.middle {
  color: #8F9BB2;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.14px;
}

.bottom {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $green;
  letter-spacing: -0.14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.connected {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $green;
  letter-spacing: -0.14px;
}
.connect {
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $green;
  letter-spacing: -0.14px;
  &:hover{
    text-decoration: underline;
  }
}
