@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
}

.cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    margin-right: 24px;
    min-width: 250px;
  }
}

.rows {
  flex-wrap: nowrap;
  flex-direction: column;

  .card {
    margin-left: 0;
  }
}
.chart{
  float: left;
  margin-top: 16px;
  margin-right: 16px;
  width: 148px;
  padding: 0px 7px;
}

.cardsLayout {
  min-height: calc(100vh - 550px);
  min-height: calc(100dvh - 550px);
}
