@import "styles/index";

.root {
  position: relative;

  &.fluid {
    width: 100%;
  }
}

.valueWrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  cursor: pointer;
  @include list(12px, true)
}

.value {}

.dropDown {
  background-color: $black;
  visibility: hidden;
  width: 265px !important;
  border-radius: 24px;
  background-color: $white;
  padding: 24px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  @include list(16px, false);
}

.opened {
  visibility: visible;
}

.dropDownTrigger {}

.active {
  flex: 1;
}

.option {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;

  &.optionActive {
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      bottom: 0px;
      width: 4px;
    }
  }
}