@import "../../../../../styles/index";

.root {
    display: flex;

    .btn:first-child{
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .btn:last-child{
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.btn {
    border: 1px solid $blue500;
    padding: 12px 24px;
    color: $white;
    background-color: $blue500;
    @include btnText;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
}

.active {
    color: $blue500;
    background-color: $white;
}
