@import "styles/index";

.root {
    display: flex;
    padding-top: 14px;
    align-items: center;
    position: relative;
    z-index: 2;
}

.left {
    display: flex;
    @include list(16px, true);
    align-items: center;
    flex: 1;
}

.title {
    @include h1;

    &_invert {
        color: white;
    }

    @include mq($TabletWidth, max) {
        font-size: 20px;
        letter-spacing: -0.2px;
    }
}

.btn {
    width: 40px;
    height: 40px;
    background-color: $white;
    padding: 0;
}