@import "styles/index";

.root {
  padding: 27px 24px;
  border-radius: 24px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(12px);
  background-color: $white;
  display: flex;
  @include list(32px, true);

  width: 100%;
}

.preview {
  display: flex;
  align-items: center;
  cursor: pointer;
  @include list(8px, true);

  .text {
    @include btnText;
    color: $green;
  }
}

.eye {
  width: 24px;
  height: 24px;
}
