@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
  @include list(16px, false);
}

.cards {
  display: flex;
  @include list(31px, true);
  @include mq($TabletWidth, max) {
    flex-direction: column;
    padding-inline: 16px;
    row-gap: 24px;

  }
}