@import 'styles/index';

.root {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
}

.copy {
    position: absolute;
    right: 16px;
    cursor: pointer;
}

.text {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.16px;
    color: $text-secondary;
}

.wrapper {
    // display: flex;
    // @include list(23px, true);
    display: grid;
    grid-template-areas: "dropzone why"  "fileList fileList";
    column-gap: 24px;
    row-gap: 24px;
}

.why {
    grid-area: why;
    border-radius: 16px;
    display: flex;
    padding: 64px 40px 60px 40px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    @include list(16px, false);
    background-color: $background-secondary;
    width: 100%;

    .title {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: $text-primary;
    }

    .desc {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: $text-primary;
      white-space: pre-line;
    }
}

.dropZone {
    grid-area: dropzone;

}

.fileList {
    grid-area: fileList;
    display: flex;

}
