@import "styles/index";
.root {
  position: relative;
  &.fluid{
    width: 100%;
  }
}
.menu {
  cursor: pointer;
  transition: .2s linear;
  border-radius: 10px;
    &:active {
      background-color: rgb(235, 235, 235);
    }
}
