@import "styles/index";

.wrapper {
  display: flex;
  flex-direction: column;
  @include list(24px, false);
}
.form{

}
.text {
  display: flex;
  flex-direction: column;
  @include list(8px, false);

  .title {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: $text-primary;
    letter-spacing: -0.16px;
  }

  .desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $text-secondary;
    letter-spacing: -0.16px;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.picker {
  display: flex;
  align-items: center;
  @include list(16px, true);
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid $simple-grey;
  cursor: pointer;
  position: relative;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.hex {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: $text-primary;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}

.colors {}

.card {
  margin-bottom: 32px;
  @include mq($SmDesktopWidth, max) {
    margin-bottom: 16px;
  }
}

