@import "../../../../styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
}

.cancel{
    border: 0;
    background-color: transparent;

    &:hover{
        border: 0;
    }
}
