@import "styles/index";

.root {
    padding: 12px 24px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    height: 67px;
}

.view {
    cursor: pointer;
}

.left {
    display: flex;
    @include list(32px, true);
}

.wide {
    @include list(48px, true);
}

.text,
.sort {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.16px;
    color: $text-primary;
    cursor: pointer;
    position: relative;
}

.sort {
    position: relative;
    display: flex;
    @include list(8px, true);
}

.circle {
    position: absolute;
    left: 30px;
}

.count {
    border-radius: 8px;
    background-color: $green;
    display: flex;
    width: 22px;
    height: 22px;
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 40px;
    top: -10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: $white;
    letter-spacing: -0.14px;
}