@import "styles/index";
.root {
  position: relative;

}
.status {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  &.rejected{
    color: $text-red;
  }
}
.chevron{
  @include dropDownChevron();
}
