@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  @include list(8px);
}
.top{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title{
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 8px;
}

.conversion{
  background-color: $green;
  color: $white;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 16px;
  font-weight: 600;
}


.center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .left, .right{
    display: flex;
    @include list(4px, true);
  }
}
.label{
  font-weight: 400;
  font-size: 14px;
  color: $text-secondary;
}
.value{
  font-weight: 700;
  font-size: 14px;
  color: $text-secondary;
}
.separator{
  height: 2px;
  background-color: $green;
  border-radius: 2px;
}
