@import "styles/index";

.root {}

.container {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    @include mq($TabletWidth, max) {
        padding-inline: 16px;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    margin-top: 32px;
}