@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    @include mq($TabletWidth, max) {
        padding-inline: 16px;
    }
}

.method {
    display: flex;
    @include list(8px, true);
    align-items: center;
}

.text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $text-primary;
    letter-spacing: -0.16px;
}

.add {
    margin-top: 8px;
    padding: 12px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: $green;
    letter-spacing: -0.16px;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
}

.top {
    display: flex;
    flex-direction: column;
    @include list(8px, false);
}

.monthly {
    color: #8F9BB2;
    text-overflow: ellipsis;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.14px;
}