@import "../../../styles/index";

.root {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
}

.headerWrapper {
  position: relative;
  z-index: 10;
  transform: unset !important;
}
.container {
  margin: 0 32px;
  margin-top: 32px;
  margin-bottom: 35px;
  position: relative;
  min-height: calc(100vh - 230px);
  min-height: calc(100dvh - 230px);
  @include mq($TabletWidth, max) {
    margin: unset;
  }
}

.headerHide {
  transition-delay: 1s;
  z-index: -1;
}
