@import "styles/index";
.root {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  @include mq($TabletWidth, max) {
    row-gap: 16px;
    column-gap: 16px;
    flex-wrap: wrap;
  }
}
.left{
  flex: 1;
  min-width: 228px;
  display: flex;
  flex-direction: row;
  @include list(24px, true);
}
.right{
  flex: 1;
  min-width: 228px;
}
.stats{
  display: flex;
  flex-direction: column;
  @include list(4px);
}
.companyInfo{
  display: flex;
  flex-direction: column;
  @include list(4px);
}
.desc{
  font-weight: 400;
  font-size: 16px;
  color: $text-secondary;
}
.name{
  font-weight: 700;
  font-size: 24px;
  color: $text-primary;
}
.link{
  color: $green;
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(8px, true);
  &:hover{
    text-decoration: underline;
  }
}
.item{
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(4px, true);
}
.itemValue{
  font-weight: 400;
  font-size: 16px;
  color: $text-secondary;
}
