@import "styles/index";

.root {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background-lending;
  font-family: 'Work Sans';
}

.container {
  margin: 0 90px;
  position: relative;
}
