@import "styles/index";


.root {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  padding: 12px;
  align-items: center;

  &.styleTiles {
    background: grey;
    border-radius: 5px;
    padding: 13px 15px;
    margin-bottom: 0px;

    .label {}

    &.active {
      background: $green;

      .label {
        color: $white;
      }
    }
  }

  &.disabled {
    .radio {
      opacity: 0.5;
    }

    .label {
      opacity: 0.5;
    }
  }
}

.label {
  color: $text-primary;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.16px;
}

.description {
  font-size: 12px;
  font-weight: 500;
  margin-top: 4px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 16px;
}

.radio {
  position: relative;
  border-radius: 100%;
  border: 2px solid $green;
  width: 24px;
  height: 24px;

  &.active {
    border: 0;
  }

}

.checkbox {
  border-radius: 100%;
}
