@import "styles/index";

.root {
  border-radius: 24px;
  border: 2px solid #F0F0F0;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.top {
  border-radius: 18px;
  background: #EBEBEB;
  padding: 16px;
  display: flex;
  @include list(8px, true);
  align-items: center;
}

.bottom {
  padding: 16px;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: $text-primary;
  letter-spacing: -0.14px;
}

.img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100% !important;
  position: relative !important;
}

.name {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: $text-primary;
  letter-spacing: -0.16px;
}