@import 'styles/index';

.check {
  border-radius: 50%;
  fill: $green;
}

.root {
  display: flex;
  column-gap: 24px;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.title {
  @include itemWithText;
  color: $text-primary;
}

.text {
  @include btnText;
  color: $text-primary;
}

.link {
  @include itemWithText;
  display: block;
  color: $green;
  margin-top: 4px;
}

