@import 'styles/index';

.form {
    display: flex;
    flex-direction: column;
    @include list(24px, false);
    background-color: $white;
    border-radius: 24px;
    padding: 32px;
    width: 480px;
    margin-right: 18px;
    @include mq($TabletWidth, max) {
        margin-right: unset;
        border-radius: unset;
        padding: 16px;
        width: 100%
    }
}

.title {
    @include h1;
}

.btns {
    display: flex;
    column-gap: 24px;

    .btn {
        flex: 1 1;
    }
}

.reset {
    color: $green;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.16px;
}

.modesButton {
    flex: 1 1;
}