@import "styles/index";

.root {
    display: flex;
    margin-top: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 350px;
    @include mq($TabletWidth, max) {
        flex-wrap: wrap;
        margin-top: 0px;
        row-gap: 32px;
        margin-bottom: unset;
    }
}

.proud {
    padding-top: 60px;
    @include mq($TabletWidth, max) {
        width: 90%;
        padding-top: unset;
    }

    svg {
        width: 100%;
    }
}