@import "styles/index";
.list{
  display: flex;
  flex-direction: column;
  @include list(24px);
}
.title{
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.stub{
  background-color: $background-secondary;
  border-radius: 16px;
  padding: 24px 24px 0px 24px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.modalBody{
  padding-top: 0px;
  padding-bottom: 0px;
}
.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
