@import "styles/index";

.root {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  // TODO  при включенном column0reverse не работает прокрутка, надо поправить
  // flex-direction: column;
  flex: 1;
  @include mq($TabletWidth, max) {
    margin-bottom: unset;
    padding-bottom: 90px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  @include list(24px);
  &>*+* {
    margin: 24px 0 0 0;
  }
  padding-bottom: 24px;
  @include mq($TabletWidth, max) {
    padding-bottom: 20px;
  }
  &.reversed{
    flex-direction: column-reverse;
    &>*+* {
      margin: 0px 0 24px 0;
    }
  }

}


.bugFix {
  display: none;
  @include mq($TabletWidth, max) {
    display: block;
    margin: 0;
    opacity: 0;
  }
}
