@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
}

.top {
    display: flex;
    align-items: center;
    @include list(16px, true);
}

.fields {
    display: flex;
    flex-direction: column;
    @include list(20px, false);
}

.field,
.fieldWrapper {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
}

.text {
    @include fieldLabel;
    color: $text-primary;
}

.add {
    display: flex;
    @include list(8px, true);
    cursor: pointer;

    .desc {
        color: $green;
        @include btnText;
    }
}

.label {
    display: flex;
    align-items: center;
}

.remove {
    cursor: pointer;
}