@import "styles/index";
.root {
  background-color: $white;
  border-radius: 24px;
  padding: 16px;
  display: grid;
  column-gap: 16px;
  position: relative;
  grid-template-areas: 
  'logo title link'
  'logo salary link'
  'logo office link';
  grid-template-columns: auto 1fr;
  border-radius: 24px 24px 0px 0px;
  box-shadow: 0px 10px 22px 0px #4f4f4f21;  
  @include mq ($TabletWidth, max) {
    padding: 12px;
    column-gap: 12px;
    grid-template-areas: 
    'logo title'
    'logo salary'
    'logo office'
    'logo link';
  }
}

.title {
  grid-area: 'title';
  font-weight: 700;
  font-size: 20px;
}

.details {
  background-color: $background-secondary;
  border-radius: 0px 0px 20px 20px;
  padding: 24px 20px;
}

.detail {
  display: flex;
  flex-direction: row;
  @include list(8px, true);
  font-size: 16px;
}

.logo {
  grid-area: logo;
}

.salary {
  grid-area: salary;
}

.office {
  grid-area: office;
  margin-top: 16px;
  @include mq ($TabletWidth, max) {
    margin-top: 12px;
  }
}

.label {
  color: $text-secondary;
}

.link {
  grid-area: link;
  color: $green;
  font-weight: 700;
  align-self: center;
  @include mq ($TabletWidth, max) {
    margin-top: 12px;
  }
}
