@import 'styles/index';

.form {
  display: flex;
  flex-direction: column;
  @include list(32px, false);
  position: relative;
    @include mq ($TabletWidth, max) {
    &:before {
      content: '';
      position: absolute;
      top: -200px;
      right: -16px;
      width: 100vw;
      height: 300px;
      background-color: $green;
      border-radius: 16px;
    }
  }
}

.preview {
  display: flex;
  align-items: center;
  cursor: pointer;
  @include list(8px, true);

  .text {
    @include btnText;
    color: $green;
  }
}

.eye {
  width: 24px;
  height: 24px;
}

.root {
  display: flex;
  flex-direction: column;
  @include list(32px, false);
  position: relative;
  z-index: 2;
}

.clear {
  cursor: pointer;
  margin-right: 15px;
}

.line {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  align-items: center;
}

.column {
  @extend .line;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  .fieldListLine {
    width: 100%;
    flex: unset;
  }
}

.column{
  flex: 1;
}

.select {
  flex: 1;
  min-width: 250px; 
}

.location{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  row-gap: 24px;
  flex-wrap: wrap;
  column-gap: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  @include list(24px, false);
}

.top {
  display: flex;
  align-items: center;
  @include list(16px, true);
}

.skills {
  @include clearfix;
  margin-bottom: 24px;
}

.skill {
  border: 1px solid $green;
  float: left;
  margin: 0;
  margin-right: 16px;
}

.add {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: $green;
  letter-spacing: -0.16px;
  cursor: pointer;
}

.fields {
  display: flex;
  flex-direction: column;
  @include list(16px, false);
}

.remove {
  cursor: pointer;
}

.fieldListLine{
  flex: 1;
}

.text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.16px;
  color: $text-secondary;
  margin-top: 0 !important;
}

.file {
  flex-direction: row !important;
  padding: 26px 24px !important;
  justify-content: flex-start !important;
  @include list(24px, true);
  align-items: center !important;
}
