@import "styles/index";

.root {
  position: relative;
  position: sticky;
  bottom: 30px;
  background: $white;
  left: 0px;
  right: 0px;
  // bottom: 0px;
  padding: 24px;
  border-radius: 24px;
  z-index: 12;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.377);
}

.field {
  display: flex;
  align-items: center;
}

.textarea {
  flex: 1;
}

.sendBtn {
  padding: 10px !important;
}

