@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 50px;

  @include mq($PhoneWidth + 1, max) {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.title {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: $white;

  @include mq($SmPhoneWidth + 1, max) {
    font-size: 24px;
  }
}

.text {
  margin-top: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  color: $white-90;

  @include mq($SmPhoneWidth + 1, max) {
    margin-top: 16px;
  }
}

.bottom {
  position: relative;
  margin-top: 100px;
  margin-bottom: 200px;
  height: 164px;
  width: 100%;
  display: flex;
  align-items: center;

  @include mq($PhoneWidth + 1, max) {
    height: 80px;
    margin-bottom: 100px;
  }

  svg {
    top: -50%;
    width: 100%;
    right: 0;

    @include mq($SmPhoneWidth + 1, max) {
      width: 150%;
      right: -25%;
      top: -465%;
    }
  }
}

.button {
  cursor: pointer;
}