@import "styles/index";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  @include list(8px);
  width: 100%;

}

.input {
  @include input;
}

.top {
  display: flex;
  justify-content: space-between;
}


.withVal {
  margin-top: 16px;
}



.inputError {
  border: 2px solid $element-alarm;
}

.inputWrapper {
  position: relative;
  margin: 0 !important;
  height: $fieldHeightDefault;
  background-color: #EBEBEB;
  border-radius: 8px;
  display: flex;
  align-items: center;
  max-height: 100%;
}

.disabled {
  color: $text-secondary;
}

.icon {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  display: flex;
  flex-direction: column;
  @include list(8px);
  height: 100%;
  position: relative;
}

.suffix {
  cursor: pointer;
  padding-right: 12px;
  padding-left: 4px;
  height: $StandartHeight;
  display: flex;
  align-items: center;
}

.prefix {
  display: flex;
  padding-left: 12px;

}

.clear {
  cursor: pointer;
  padding-right: 16px;
  padding-left: 4px;
  height: $StandartHeight;
  display: flex;
  align-items: center;

  &.withSuffix {
    padding-right: 8px;
  }

  .clearIcon {}
}

.obscure {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

}

.line {
  height: 1px;
  background-color: #E8E9E8;
  margin-top: 0;
}

.lineError {
  background-color: $element-alarm;
}