@import "styles/index";

.root {}

.container {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
}

.wrapper {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    position: relative;
    padding-bottom: 80px;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  .card {
    margin-right: 24px;
    min-width: 250px;
  }
}

.rows {
    flex-wrap: nowrap;
    flex-direction: column;

    .card {
        margin-left: 0;
    }
}

.card {
    position: relative;
}
.selectedMode{
  padding: 0px 4px;
}
.selected{
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(0px, true);
}

.row {
  display: contents;
  @include hover {
    .rowItem {
      background-color: $greenLight;
    }
  }
  &:active {
    .rowItem {
      background-color: #BCFFC0;
    }
  }

  .rowItem {
    margin: unset;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    background-color: white;
    color: black;
    padding-inline: 10px;
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    &_frozen {
      position: sticky;
      left: 0;
    }

    &_active {
      background-color: #BCFFC0;
    }
  }
}

.jobsTable {
  background-color: $white;
  height: calc(100vh - 490px);
  border: unset;
  border-radius: 16px;
  user-select: none;

  .headerCell {
    background-color: white;
    color: $black;
    align-items: center;
    display: flex;
    column-gap: 8px;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    background: rgba(255, 255, 255, 0.418);
    padding-inline: 8px;


    .sortIcon {
      transition: ease-in-out .2s ;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }


    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 2px;
      height: 24px;
      background-color: $grey;
    }
  }

  :global {
    .rdg-header-row {
      background-color: white;
    }

    .rdg-cell {
      border: unset;
      box-shadow: unset;
      overflow: hidden;
      padding-inline: unset;
      backdrop-filter: blur(3px);
      background: rgba(255, 255, 255, 0.418);

    }
  }
}

.button {
  width: 40px;
  height: 40px;
  padding: unset;
  background-color: white;
  border: 2px $grey solid;

  &_green {
    background-color: $green;
  }
}

.publishStatus {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.rowLine {
  display: flex;
  align-items: center;
  column-gap: 8px;
  max-width: 100%;
}

.rowSpan {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rowLink {
  @extend .rowSpan;
  color: black;
}

.evaluation {
  padding: 4px 8px;
  background-color: $green;
  color: $white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
}

.actionButtons {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
