@import "styles/index";

.root {}

.container {
    display: flex;
    flex-direction: column;
    @include list(32px, false);

}

.wrapper {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    position: relative;
}

.cards {
  @include mq ($SmDesktopWidth, max) {
    padding-inline: 16px;
  }
}

// .cards {
//     display: flex;
//     flex-wrap: wrap;

//     .card {
//         margin-right: 24px;
//     }
// }

// .rows {
//     flex-wrap: nowrap;
//     flex-direction: column;

//     .card {
//         margin-left: 0;
//     }
// }

// .card {
//     margin-bottom: 32px;
//     position: relative;
// }


.plus {
  position: absolute;
  margin: 0 !important;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  max-width: 80px;
  @include mq($TabletWidth, max) {
    bottom: 16px;
    right: 16px;
  }
}

.menu {
  position: absolute;
  width: auto !important;
  min-width: 277px;
}


.sort {
    width: 256px;
    position: absolute;
    z-index: 1;
    top: 32px;
}

.cardsLayout {
  min-height: calc(100vh - 500px);
  min-height: calc(100dvh - 500px);
}

.row {
  display: contents;

  .rowItem {
    margin: unset;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    background-color: white;
    color: black;
    padding-inline: 10px;
    align-self: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    &_frozen {
      position: sticky;
      left: 0;
    }

    &_active {
      background-color: $greenLight;
    }
  }
}

.jobsTable {
  background-color: $white;
  height: calc(100vh - 490px);
  border: unset;
  border-radius: 16px;
  user-select: none;

  .headerCell {
    background-color: white;
    color: $black;
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    position: relative;

    .sortIcon {
      transition: ease-in-out .2s ;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }


    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 2px;
      height: 24px;
      background-color: $grey;
    }
  }

  :global {
    .rdg-header-row {
      background-color: white;
    }

    .rdg-cell {
      border: unset;
      box-shadow: unset;
      overflow: hidden;
    }
  }
}

.button {
  width: 40px;
  height: 40px;
  padding: unset;
  background-color: white;
  border: 2px $grey solid;
}

.publishStatus {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.rowLine {
  display: flex;
  align-items: center;
  column-gap: 8px;
  max-width: 100%;
}

.rowSpan {
  flex: 1 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
