@import "styles/index";

.root {
  border-radius: 24px;
  border: 2px solid #F0F0F0;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: calc(33% - 32px);
  @include mq($TabletWidth, max) {
    width: calc(50% - 16px);
  }
  @include mq($PhoneWidth, max) {
    width: 100%;
  }
}

.top {
  border-radius: 18px;
  padding: 16px;
  display: flex;
  @include list(4px, false);
  flex-direction: column;
}

.position {
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: $text-secondary;
  letter-spacing: -0.14px;
}

.salary {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: $text-primary;
  letter-spacing: -0.16px;
}

.bottom {
  padding: 16px;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  color: $text-primary;
  letter-spacing: -0.14px;
}

.img {
  width: 40px !important;
  height: 40px !important;
  border-radius: 100% !important;
  position: relative !important;
}

.name {
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: $text-primary;
  letter-spacing: -0.16px;
}