@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    @include mq($TabletWidth, min) {
        @include list(64px, false);
    }
    @include mq($TabletWidth, max) {
        margin-top: unset;
        row-gap: 24px;
    }
}

.title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: $text-primary;
    letter-spacing: -0.24px;
  margin-bottom: 32px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    row-gap: 16px;
    column-gap: 16px;
    margin-top: 16px;
    // @include mq($TabletWidth, max) {
    //     @include list(64px, false);
    // }
    @include mq($TabletWidth, min) {
    }

}

.card {
    width: calc(28% - 32px);
    min-width: 214px;
    margin-bottom: 32px;
    @include mq($TabletWidth, max) {
        margin-bottom: unset;
    }
}
