@import "styles/index";

.root {
  flex-direction: column;
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: $zIndexSidePanel;
  right: 0;
  height: 100%;
  width: 512px;
  max-width: 100vw;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
  z-index: 10;
  animation: blacking 0.3s ease-in-out forwards;
}

@keyframes blacking {
  100% {
    opacity: .6;
  }
}
 