@import "styles/index";

.root {}

.container {
    display: flex;
    flex-direction: column;
    @include list(32px, false);

}

.switch {
    display: flex;
    align-items: center;
    @include list(16px, true);
}

.item {
    cursor: pointer;
}
