@import "styles/index";

.root{
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.16px;
  color: $text-primary;
  cursor: pointer;
  .circle {
    position: absolute;
    top: 0px;
    right: -10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: $green;
  }
}
