@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 24px;
    padding: 32px;
    width: 480px;
    margin-right: 18px;
    @include list(24px, false);
    @include mq($TabletWidth, max) {
        margin-right: unset;
        border-radius: unset;
        width: 100%;
    }
}

.title {
    @include h1;
}

.text {
    @include secondaryText;
}

.btn {
    max-width: 104px;
}