@import "styles/index";

.root {
    display: flex;
    flex-direction: column;
    @include list(16px, false);
    background-color: $white;
    border-radius: 24px;
    width: 100%;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
    padding-bottom: 24px;
}

.status,
.operations {
    color: $text-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.16px;
    position: relative;
    padding: 0 24px;
}

.status {
    padding-top: 24px;
}

.operations {
    margin-top: 36px;
}

.option {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.16px;
    color: $text-primary;
    padding: 0 24px;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #EBEBEB;
}