@import "styles/index";

.root {
  position: relative;
  background: $white;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 24px;
  border-radius: 24px;
  @include mq($TabletWidth, max) {
    padding: 8px;
    box-shadow: 0px 0px 10px 4px rgba(139, 139, 139, 0.248);
  }
}

.field {
  display: flex;
  align-items: center;
}

.textarea {
  flex: 1;
}

.sendBtn {
  padding: 10px !important;
}

