@import "styles/index";

.root {
  position: relative;
    background: $white;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 1px;
  padding-left: 47px;
}

.field {
  background: $white;
  display: flex;
  align-items: center;

}
.textarea{
  flex: 1;
}
.sendBtn{
  padding: 10px !important;
}

