@import "styles/index";

.root {
  display: flex;
  flex-direction: column;
  @include list(32px, false);
}

.container {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
}

.wrapper {
    display: flex;
    flex-direction: column;
    @include list(32px, false);
    position: relative;
    @include mq($TabletWidth, max) {
        padding-inline: 16px;
    }
}
.card {
    // margin-bottom: 32px;
    position: relative;
}

.selected{
  display: flex;
  flex-direction: row;
  align-items: center;
  @include list(0px, true);
}
