@import "styles/index";
$grid: 8px;
.wrapper{
  background-color: transparent;
  display: flex;
  flex-direction: column;
  opacity: inherit;
  padding: $grid;
  border: $grid;
  padding-bottom: 0;
  transition: background-color 0.2s ease, opacity 0.1s ease;
  user-select: none;
  width: 250px;
}
.dropZone{
  padding-bottom: $grid;
  display: flex;
  flex-direction: column;
  @include list(8px);
}
.scrollContainer{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 250px);
}
