@import "styles/index";

.root {}

.wrapper {
    border-radius: 40px;
    background: #1E201D;
    padding: 80px 0;
    padding-bottom: 0;

    @include mq($SmPhoneWidth + 1, max) {
        padding: 40px 16px;
        padding-bottom: 0;
        border-radius: 32px;
        margin-top: 80px;
    }
}

.creationBtn {
    width: 147px !important;
}

.base {
    margin-bottom: 0;
}

.clear {
    margin-top: -270px !important;

    @include mq($DesktopWidth + 1, max) {
        margin-top: -220px !important;
    }

    @include mq($SmDesktopWidth + 1, max) {
        margin-top: -170px !important;
    }

    @include mq(830px, max) {
        margin-top: 0 !important;
    }
}