@import "styles/index";

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}
.buttons {
    display: flex;
    @include list(32px, true);
    padding: 32px 0;
}

.apply {
    flex: 1;
}

