@import "styles/index";

.root {
  position: relative;
  background-color: #EBEBEB;
  border-radius: 12px;
  height: 70px;
  display: flex;
  align-items: center;
}

.input {
  outline: none;
  background-color: #EBEBEB;
  border-radius: 12px;
  flex: 1;

  :global {
    .yg-select__menu-portal {
      z-index: 2;
    }
    .yg-select__menu {
      background-color: $white;
      z-index: 3;
      border-radius: 8px;
      border: 0;
      box-shadow: 0px 4px 16px 0px #0000001A;
      margin: 0px;
      margin-top: 14px;
      &-list {
        padding: 0px;

        >.yg-select__option {
          &:first-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }

          &:last-of-type {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }

        }
      }
    }

    .yg-select__control {
      box-shadow: none;
      background-color: #EBEBEB !important;
      border-radius: 12px !important;
      border: 0 !important;
    }

    .yg-select__single-value {
      font-size: 14px;
      font-weight: 600;
      color: $simple-grey;
      margin: 0;
    }

    .yg-select__indicator-separator {
      display: none;
    }

    .yg-select__option {
      min-height: $StandartHeight;
      font-size: 16px;
      font-weight: 400;
      color: $text-primary;
      display: flex;
      align-items: center;
      padding: 0px 16px;
      background-color: transparent;
      cursor: pointer;
      &:active {
        background: $simple-grey;
      }
    }

    .yg-select__option--is-focused {
      background: $green;
      color: $white;
    }

    .yg-select__option--is-selected {
      border-color: transparent;
      background: $green;
      color: $white;
    }
  }

  &.default {
    :global {
      .yg-select__value-container {
        padding: 0 16px;
        height: $StandartHeight;
      }

      .yg-select__control {
        transition: background 0.2s;
        border: 1px solid $simple-grey;
        border-radius: 10px;
        background: $white;
      }

      .yg-select__placeholder {
        font-size: 16px;
        color: $text-secondary;
        margin: 0;
      }
    }

    &.hover {
      :global {
        .yg-select__control {
          background: $white;
        }
      }
    }
  }

  &.error {
    :global {
      .yg-select__control {
        border-color: $text-red;
      }

      .yg-select__placeholder {
        color: $text-red;
      }
    }
  }

  &.withIcon {
    :global {
      .yg-select__control {
        padding-left: 50px;
      }

      .yg-select__value-container {
        padding-left: 0;
      }
    }
  }

  &.withLabel{
    &.inputFocused, &.withValue {
      line-height: 32px;
      padding-top: 24px;
    }
  }
}

.indicator {
  margin-right: 12px;

  &.indicatorInverse {
    transform: rotate(180deg);
  }
}

.label {
  position: absolute;
  z-index: 1;
  left: 16px;
  top: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.14px;
  color: $text-secondary;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;

  &.default {
    left: 17px;
  }
}
