@import "styles/index";

.root {
  max-height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  // TODO  при включенном column0reverse не работает прокрутка, надо поправить
  // flex-direction: column;
  padding: 20px;
  flex: 1;
  background-color: $white;
  border-radius: 0px 0px 24px 24px;
  margin-bottom: 32px;
  @include mq($TabletWidth, max) {
    margin-bottom: unset;
  }
}

.list {
  display: flex;
  flex-direction: column-reverse;
  @include mq($TabletWidth, max) {
    padding-bottom: 80px;
  }

}
