@import "styles/index";

.checkbox {
  background-color: white;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid $green;
  transition: background 0.2s, border 0.2s;
  flex-shrink: 0;


  &.hover {}

  &.checked {
    background: $green;
  }

  &.error {
    border-color: red;
  }
  &.circle{
    border-radius: 100%;
  }
}
