@import "styles/index";

.root{
  background-color: white;
  overflow: scroll;
  width: calc(100vw - 420px);
  border-radius: 32px;
  @include mq($SmDesktopWidth, max) {
    width: calc(100vw - 64px);
    overflow: auto;

  }
  @include mq($TabletWidth, max) {
    width: calc(100vw - 32px);
    margin-left: 16px;
  }

}
.wrapper{
  min-height: calc(100vh - 270px);
  overflow-y: hidden;
  display: inline-flex;
}
