@import "styles/index";

.root {
    padding: 8px;
    border-radius: 24px;
    background-color: $white;
    width: calc(28% - 32px);
    height: 230px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    @include list(24px, false);
    height: 306px;
}

.row {
    flex-direction: row;
    width: 100%;
    @include list(24px, true);
    height: 136px;
    padding-bottom: 8px;

    .container {
        height: 100%;
        flex: 1;
        @include list(16px, false);
    }

    .bottom {
        align-items: baseline;
        padding-left: 0;
    }

    .middle {
        margin-top: 0;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

.rowBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    height: 214px;
    justify-content: space-between;
}

.bottom {
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    @include list(3px, false);
}

.salary {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.16px;
    color: $text-primary;
}

.country {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.14px;
    color: $text-primary;
}

.publish {
    display: flex;
    flex-direction: column;
    @include list(4px, false);
}

.published {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.14px;
    color: $text-secondary;
}

.date {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.16px;
    color: $text-primary;
}

.employees {
    display: flex;
    @include list(6px, true);
    align-items: center;
}

.quantity {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.14px;
    color: #7B7B7B;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    @include list(4px, false);
}

.name {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.16px;
    color: $text-primary;
}

.status {
    text-transform: capitalize;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.14px;
}

.menu {
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    @include list(16px, true);

    .publish {
        flex-direction: row;
        align-items: center;
        @include list(8px, true);
    }
}