@import "styles/index";

.root{
  border-radius: 16px;
  width: 68px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.loaded {
    border-style: solid;
    border-width: 1px;
  }
  &.red{
    border-color: $text-red;
    color: $text-red;
  }
  &.yellow{
    border-color: #D68915;
    color: #D68915;
  }
  &.green{
    border-color: $green;
    color: $green;
  }
}
