@import "styles/index";

.form {
  display: flex;
  flex-direction: column;
  @include list(32px, false);
  position: relative;
}

.line {
  display: flex;
  column-gap: 24px;
  @include mq($TabletWidth, max) {
    flex-wrap: wrap;
    row-gap: 24px;    
  }
}

.card {
  display: flex;
  flex-direction: column;
  @include list(24px, false);
}

.select {
  width: 100%;
}