@import "../../../styles/index";

.root {
  display: flex;
  padding-left: 56px;
  padding-right: 32px;
  height: 88px;
  background-color: $green;
  align-items: center;
  justify-content: space-between;
}

.logo {
  @include logo;
  color: $white;
}

.menu {
  display: flex;
  @include list(32px, true);
  align-items: center;
}

.item {
  @include headerMenuItem;
  color: $white;
}

.controls {
  display: flex;
  @include list(16px, true);
}
