@import "styles/index";

.root {
  display: flex;
  padding-left: 56px;
  padding-right: 32px;
  height: 88px;
  background-color: $green;
  align-items: center;
  justify-content: space-between;
  transform: translate3d(0px 0px 0px);
  transition: .7s ease-in-out;
  z-index: $zIndexHeader;
  will-change: transform;
  @include mq($TabletWidth, max) {
    padding-inline: 16px
  } 
}


.logo {
  @include logo;
  color: $white;
}

.menu {
  display: flex;
  @include list(32px, true);
  align-items: center;
}

.item {
  @include headerMenuItem;
  color: $white;
}

.controls {
  display: flex;
  @include list(16px, true);
}
.dropDownNotifications{
  width: 404px;
}
.dropDownChats{
  width: 404px;
}

.down {
  transform: translate3d(0px, -100%, 0px)
}
