@mixin htmlText {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $text-primary;

  @media (max-width: $xs-max) {
    font-size: 16px;
  }
  :global {
    p {
      margin: 0;

      strong {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        color: $text-primary;
      }
    }

    a {
      color: $green;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    figure {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        display: block;
        max-width: 100%;
      }

      figcaption {
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
        color: $text-primary;
        text-align: left;
        margin: 4px 0px 0px 0px;
        padding: 0;
      }
    }

    blockquote {
      margin: 0;
      font-style: italic;
      font-weight: 500;

    }

    ul, ol {
      margin: 0;
      list-style-position: inside;
      color: $text-primary;
      li{
        margin-bottom: 8px;
      }
    }

    ol {
      list-style: none;
      counter-reset: my-counter;

      li {
        position: relative;
        padding: 0px 0px 0px 24px;
        counter-increment: my-counter;

        &:before {
          position: absolute;
          content: counter(my-counter) "";
          left: 0px;
          top: 0px;
          color: $green;
          font-size: inherit;
          line-height: inherit;
          font-weight: 600;
        }
      }
    }

    ul {
      li {
        list-style-type: none;
        position: relative;
        padding: 0px 0px 0px 24px;

        &:after {
          content: " ";
          position: absolute;
          left: 0px;
          top: 9px;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: $green;
        }
      }
    }

    ul, ol, blockquote {

    }
  }
}
