@import "styles/index";

.root {
  @include menuDropDown;
  width: 265px;
  text-align: left;
  &.separator{
    @include list(0px, false);
  }

}
.group{
  display: flex;
  flex-direction: column;
  > .separator{
    height: 2px;
    background: $background-secondary;
  }

}
.options{
  display: flex;
  flex-direction: column;

}
.groupName {
    color: $text-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.16px;
    position: relative;
    padding: 0 24px;
}


.option {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.16px;
    color: $text-primary;
    padding: 8px 24px;
  cursor: pointer;
  &:first-of-type{
    padding-top: 16px;
  }
  &:last-of-type{
    padding-bottom: 16px;
  }
  &:hover{
    color: $green;
  }
}

