@import "styles/index";

.root {
  flex-basis: 325px;
  transition: all ease 0.25s;
  @include mq($SmDesktopWidth, max) {
    position: fixed;
    top:100px;
    right: 0;
    z-index: 20;
    transition: ease-in-out .7s;
  }
}

.down {
  top: 0px;
}

.collapsed {
  flex-basis: 0px;


  .wrapper {
    transform: translateX(-32px);
    @include mq($SmDesktopWidth, max) {
      transform: translateX(100%);
    }
  }

  .arrows {
    transform: translateX(32px);
    background-color: $green;
    border-radius: 0px 4px 4px 0px;
    @include mq($SmDesktopWidth, max) {
      transform: translateX(0px);
      border-radius: 4px 0px 0px 4px;
    }

    svg{
      transform: rotate(180deg);
      path{
        fill: $white;
      }
    }
  }



}

.wrapper {
  transition: all ease 0.25s;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: $white;
  padding: 24px;
  justify-content: space-between;
  position: fixed;
  height: calc(100vh - 152px);
  width: 325px;
  margin-left: -325px;
  transform: translateX(325px);
  @include mq($SmDesktopWidth, max) {
    transform: translateX(0%);
    height: unset;
    border-radius: 24px 0px 0px 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  //   transform: translateX(-100%);
    
  //   // &_active {
  //   //   transform: translateX(0px);
  //   // }
  }


}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}

.item {
  padding: 14px 0;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.2px;
  color: $text-primary;

  &:hover {
    color: $green;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.title {
  @include h3;
}

.arrows {
  cursor: pointer;
  position: absolute;
  right: -24px;
  background-color: $background-secondary;
  border-radius: 4px 0px 0px 4px;
  width: 32px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 4px;
  &:hover{
    background-color: $green;
    svg{
      path{
        fill: $white;
      }
    }
  }

  @include mq($SmDesktopWidth, max) {
    right: unset;
    left: -54px;
    height: 40px;
    width: 30px;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-bottom: 2px white solid;

  }
}


.active {
  font-weight: 700;
  color: $green;
  position: relative;
}

.line {
  position: absolute;
  width: 6px;
  height: 46px;
  background-color: $green;
  top: 0;
  left: -24px;
}

.btn {
  position: relative;
  width: 100%;

  button {
    width: 100%;
  }
}

.options {
  padding: 24px 16px;
  border-radius: 8px;
  position: absolute;
  background-color: $white;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  @include list(24px, false);
  width: 100%;
  top: -166px;
}

.option {
  display: flex;
  @include list(16px, true);
  align-items: center;
}

.desc {
  display: flex;
  flex-direction: column;
  @include list(4px, false);
}

.main {
  @include mainText;
}

.text {
  @include smallText;
  color: $text-secondary;
}

.menuOpener {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.menuOptions {
  border-radius: 10px !important;
}
