@import "styles/index";

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}
.fields{
  display: flex;
  flex-direction: column;
  @include list(40px, false);
}

.field{
  display: flex;
  flex-direction: column;
  @include list(16px, false);
}

.buttons {
    display: flex;
    @include list(32px, true);
}

.apply {
    flex: 1;
}

