@import "styles/index";
.root {
  display: flex;
  flex-direction: column;
  @include list(40px, false);
}

.salary {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $green;
}

.intro {
  margin-top: 16px;
}

.title {
  @include h1;
}
.fields{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  @include list(40px);
}
.field {
  display: flex;
  flex-direction: column;
  @include list(16px);
}

.stages {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 16px;
  .stage {
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    margin-left: 36px;
    &:last-of-type {
      .hiringDescription {
        &:before {
          display: none;
        }
      }
    }
  }

  .hiringTitle {
    position: relative;
    font-weight: 600;
    font-size: 20px;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      border: 6px solid #24B563;
      top: 0px;
      left: -30px;
      border-radius: 20px;
    }
  }

  .hiringDescription {
    position: relative;
    margin: unset;
    color: $text-secondary;


    &:before {
      content: "";
      position: absolute;
      background-color: $green;
      top: -10px;
      left: -21px;
      border-radius: 20px;
      height: calc(100% + 28px);
      width: 4px;
    }
  }
}
.inputs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  grid-gap: 16px;

}
.input{

 background-color: $background-secondary;
  border-radius: 13px;
  padding: 16px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  @include list(8px);
}
.inputLabel{
  color: $text-primary;
  font-weight: 700;
}
.inputValue{
  color: $text-primary;
  font-weight: 400;
}
